.container {
    display: flex;
    align-items: center;   
    padding: 20px;
    box-sizing: border-box;  
  }
  
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;  
    min-height: calc(100vh - 60px);
    text-align: center;             
    background-color: white;      
    padding: 20px;                 
    padding-top: 60px;
    border-radius: 10px; 
    box-shadow: 0px 0px 6px 6px rgba(0, 0, 0, 0.1);        
    font-family: Arial, Helvetica;
    color: black;
    box-sizing: border-box;
  }

  .maintext {
    font-size: 35px;
  }

  .input {
    display: flex; 
    align-items: center; 
    gap: 10px; 
    width: 100%; 
    max-width: 800px;
    justify-content: center; 
  }

  #user_input {
    border-radius: 5px; 
    width: 100%; 
    max-width: 800px;
    padding: 10px 20px;         
    font-size: 18px;            
    border: 2px solid #ccc;
  }


  .add_btn {
    background-color: green;
    color: white;
    border-radius: 5px; 
    padding: 10px 25px;         
    font-size: 17px;            
    border: none;   
    white-space: nowrap;
    cursor: pointer;
  }

  .add_btn:hover {
    background-color: darkgreen;
  }

  .list_container {
    margin-top: 20px;
    width: 100%; 
    max-width: 800px;
  }

  .list_item {
    display: flex;
    padding: 12px;
    margin: 5px 0;
    border-radius: 5px;
    background: #f9f9f9;
    align-items: center;
    font-size: 16px;
  }

  .list_item span {
    flex: 1;
    text-align: left;
    margin-left: 10px;
  }

 
  .checkbox {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.completed {
    text-decoration: line-through;
    color: gray;
}

  .delete_btn {
    background-color: rgb(199, 49, 49);
    color: white;
    border-radius: 5px; 
    padding: 5px 10px;         
    font-size: 15px;            
    border: none;   
    white-space: nowrap;
    margin-right: 5px;
    cursor: pointer;
  }

  .delete_btn:hover {
    background-color: darkred;
  }

  .edit_btn {
    background-color: gray;
    color: white;
    border-radius: 5px; 
    padding: 5px 10px;         
    font-size: 15px;            
    border: none;   
    white-space: nowrap;
    margin-right: 5px;
    cursor: pointer;
  }

  .edit_btn:hover {
    background-color: rgb(80, 80, 80);
  }

  .edit_input {
    width: 100%;
    font-size: 16px;
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5px;
    border-radius: 3px;
    flex: 1; 
    outline: none;
}

.popup_alert {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    color: white;
    padding: 15px 30px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    z-index: 1000;
    font-family: Arial, Helvetica;
}