body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.App Home{
  background-image:url('https://assets.nflxext.com/ffe/siteui/vlv3/cb17c41d-6a67-4472-8b91-cca977e65276/web/KR-ko-20250505-TRIFECTA-perspective_9cf22bde-a098-4ffd-ad9d-93c61ed74a54_large.jpg');
  width: 100%;
  height: 100vh;
  position: absolute; /*z-index를 사용하기 위함*/
  z-index: 1;
}
.AppCover Home{
  width: 100%;
  height: 100vh;
  background-color:rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 2;
}
.banner{
  padding:20px 32px;
  position: relative;
  z-index: 3;
  }

.logo{
    height: 75px;
    margin-left: 150px;
    background-size: contain;  
    background-image: url('https://help.nflxext.com/helpcenter/OneTrust/oneTrust_production/consent/87b6a5c0-0104-4e96-a291-092c11350111/01938dc4-59b3-7bbc-b635-c4131030e85f/logos/dd6b162f-1a32-456a-9cfe-897231c7763c/4345ea78-053c-46d2-b11e-09adaef973dc/Netflix_Logo_PMS.png');
    background-repeat: no-repeat;   
  
 }

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 3;

}

.logincontain {
  background-color: rgba(0, 0, 0, 0.75); 
  padding: 20px 65px;
  padding-bottom: 100px;
  max-width: 330px;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: white;
  border-radius: 4px;
}

.logincontain h2 {
  font-size: 32px;
  margin-bottom: 35px;
}

.logincontain input {
  background-color: rgba(0, 0, 0, 0);
  border:0.3px solid rgba(255, 255, 255, 0.7);;
  border-radius: 4px;
  color: white;
  padding: 16px;
  margin-bottom: 16px;
  font-size: 16px;
}

.button1 {
  background-color: rgb(229, 9, 20);
  border: none;
  padding: 10px;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.button1:hover {
  background-color:rgb(201, 7, 16);
}

.button2 {
  background-color: rgba(110, 102, 102, 0.506);
  border: none;
  padding: 10px;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}
.button2:hover {
  background-color:rgba(118, 109, 109, 0.392);
}

.button3{
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border:none;
  font-size: 16px;
  padding-top:15px; 
  text-decoration: underline;
}
.button3:hover{
  color: rgb(208, 208, 208);
}

.saveBox {
  display: flex;
  gap: 10px;              
  font-size: 16px;
  color: #ffffff;
  padding-top:21px;
}

#idsave {
  width: 17px;
  height: 17px;
  accent-color: rgb(255, 255, 255); 
  cursor: pointer;
}

.textBox{
  display: flex;
  margin:0px;
  color: rgba(255, 255, 255, 0.7);
}

.button4{
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border:none;
  font-size: 16px; 
}
.button4:hover{
  text-decoration: underline;
}
.notRobot{
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
}

.button5{
  background-color: rgba(0, 0, 0, 0);
  color:rgb(68, 142, 244);;
  border:none;
  font-size: 14px;
  text-decoration: underline;
  text-align: left;
  padding: 0px;
}

