.container {
    display: flex;
    align-items: flex-start;         /* 세로 정렬: 상단 정렬 */
    padding: 20px;
    box-sizing: border-box;
  }
  
  /* 프로필 영역 */
  .profile {
    width: 40%;                     /* 프로필 영역 너비 */
    height: calc(100vh - 60px);
    text-align: center;             /* 텍스트 중앙 정렬 */
    background-color: #102A5D;     
    padding: 20px;                  /* 배경 색상과 내용 간의 여백 */
    padding-top: 60px;
    border-radius: 10px;            /* 프로필 영역 테두리 둥글게 설정 */
    font-family: Arial, Helvetica;
    color: white;
    box-sizing: border-box;
  }
  
  .profileimage {
    width: 150px;                  
    height: 150px;                
    border-radius: 50%;            
    background-color: white;
    object-fit: cover;             
    margin-bottom: 20px;          
  }
  
  /* 내용 영역 */
  .content {
    width: 100%;                   
    padding-left: 40px;
    padding-right: 20px;
    font-family: Arial, Helvetica;
  }

  .list li {
    margin-bottom: 10px;
  }
 
  a {
    color: white;
  }
  a:hover {
    color: #C9A3C4; 
  }
  hr {
    margin-top: -10px;
  }